<div class="container text-center mt-5">
    <h2 class="">Véhicules</h2>

    <div class="container">
        <button type="button" class="btn btn-success m-3" (click)="onClickSwitchAllCarsStatus('Disponible')">
            Tous disponible
        </button>
        <button type="button" class="btn btn-danger m-3" (click)="onClickSwitchAllCarsStatus('Indisponible')">
            Tous indisponible
        </button>
    </div>
    <table class="table table-dark table-striped align-middle mt-3">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Année</th>
                <th>Disponibilité</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr app-table-row *ngFor="let car of cars" [mark]="car.mark" [model]="car.model" [year]="car.year"
                [status]="car.status" [id]="car.id">
            </tr>
        </tbody>
    </table>
    <!-- Test table fire cars -->
    <table classe="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of Car">
                <td>{{car.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
