<div class="displayTable mt-5">
    <div class="displayTableCell text-center">
        <div class="card container pt-2 pb-3" style="width: 50rem">
            <div class="authBlock card-body">
                <h3>Réinitialiser le mot de passe.</h3>
                <p class="">Veuillez saisir votre adresse e-mail pour demander une réinitialisation du mot de passe.</p>
                <div class="formGroup">
                    <input type="email" class="formControl" placeholder="Adresse e-mail" #passwordResetEmail required>
                </div>
                <!-- Calling ForgotPassword from AuthService Api -->
                <div class="formGroup mt-2">
                    <input type="submit" class="btn btnPrimary" value="Réinitialiser le mot de passe"
                        (click)="authService.ForgotPassword(passwordResetEmail.value)">
                </div>
            </div>
        </div>

        <div class="redirectToLogin mt-3">
            <span>Retourner à ? <a class="redirect" routerLink="/auth"> Connexion</a></span>
        </div>
    </div>
</div>